:root {
	/*navbar*/
	--nav-bg: white;
	--nav-fg: var(--fg-color-normal);
	--nav-border-active: var(--accent-color-primary);
	--nav-border-size: 2px;
}

/*navbar*/
.navbar {
	margin: var(--spacing-2) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: var(--nav-bg);
	color: var(--fg-color-normal);
}

.navbar .logo {
	margin-right: var(--spacing-5);
	font-weight: var(--fg-weight-normal);
	font-size: calc( var(--fg-size-normal) * 1.6 );
	padding: 0;
	display: flex;
}

.navbar .logo span {
	margin: auto;
}

.navbar .logo span a {
	color: var(--fg-color-normal);
}

.navbar .links {
	display: flex;
}

.navbar .links a {
	padding: var(--spacing-2) var(--spacing-3);
	color: var(--nav-fg);
	text-decoration: none;
	text-align: center;
	border-bottom: solid var(--nav-border-size) transparent;
}

.navbar .links a:hover {
	border-bottom: solid var(--nav-border-size) var(--nav-border-active);
}

.navbar .active {
	font-weight: var(--fg-weight-bold);
	color: var(--nav-fg);
}

@media only screen and (max-width: 800px) {
	.navbar						{ display: block }
	.navbar .logo 		{ display: block; padding: var(--spacing-3) 0; }
	.navbar .links 		{ display: block; }
	.navbar .links a 	{ display: block; padding: var(--spacing-2) 0; text-align: left; }
}
